/* Body */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    
}
body, html {
    width: 100%; /* Assure que le corps et le html prennent toute la largeur */
    max-width: 100%; /* Empêche le corps de dépasser la largeur de la fenêtre */
    overflow-x: hidden; /* Cache tout débordement horizontal */
}


/*Image background*/
.background_img { 
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: url(images/background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}




/*Centrage texte*/
.section_centre { 
	width:921px;
	height:263px;
	position:absolute;
	left:296px;
	top:284px;
}
/*Centrage bouton*/
.section_centre_bouton{ 
	width:215px;
	height:58px;
	position:absolute;
	left:353px;
	top:205px;
}
/*Style bouton*/
.section_centre_bouton2 { 
    display: inline-block; /* ou block selon votre mise en page */
    background-image: linear-gradient(0deg, rgba(252, 163, 76, 1) 0%, rgba(220.60986936092377, 117.77418628334999, 17.249508798122406, 1) 100%);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    padding: 15px 30px; /* Ajustez le padding pour correspondre à la taille du bouton désirée */
    text-decoration: none; /* Enlève le soulignement par défaut des liens */
    /* autres styles de bouton */
}

.section_centre_bouton3 {
    color: white;
    font-size: 16px;
    /* autres styles de texte */
}


/*Centrage texte*/
.section_centre_texte { 
	color:rgba(0, 0, 0, 1);
	width:250px;
	height:24px;
	position:absolute;
	left:335px;
	top:0px;

	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
/*Mise en page de la section*/
.section_centre_texte2 { 
	color:rgba(0, 0, 0, 1);
	width:921px;
	height:132px;
	position:absolute;
	left:0px;
	top:33px;

	text-align:center;
	font-size:36px;
	letter-spacing:0;
}

.section_centre, .section_orange, .video-responsive {
    width: 100%; /* Ajuster la largeur à 100% pour être réactif */
    /* Retirez toute propriété 'top', 'left' ou 'position: absolute;' */
}
/*section orange*/
.section_orange { 
	background-color: #fca34c;
	width:1512px;
	height:177px;

}

/*texte section orange*/
.section_orange_texte {
    color: white;
    text-align: center;
    font-size: 25px;
    /* Retirez toute propriété 'top', 'left' ou 'position: absolute;' */
}


.video-responsive {
    position: relative; /* Assurez-vous que c'est relatif et non absolu */
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
}

   .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

